<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Recipe Recommender Project</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/engine">Engine</a></li>
                <li><a href="/history">History of Food</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Recipe Recommender</h1>
        <form id="search-form">
            <label for="keywords">Enter keywords (comma-separated):</label><br>
            <input type="text" id="keywords" name="keywords"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div id="recipes-container"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search-form').submit(function(event) {
                event.preventDefault();  // Prevent default form submission
                var keywords = $('#keywords').val();
                $.ajax({
                    type: 'POST',
                    url: '/recommend',
                    data: {'keywords': keywords},
                    success: function(response) {
                        $('#recipes-container').empty();  // Clear previous recipes
                        if (response.recipes) {
                            var recipes = response.recipes;
                            var html = '<h2>Recipes for keywords: ' + keywords + '</h2>';
                            html += '<ul>';
                            recipes.forEach(function(recipe) {
                                html += '<li>';
                                html += '<a href="' + recipe.link + '" target="_blank">';
                                html += '<img src="' + recipe.image + '" alt="' + recipe.name + '" style="width: 100px; height: 100px; margin-right: 10px;">';
                                html += recipe.name;
                                html += '</a>';
                                html += '</li>';
                            });
                            html += '</ul>';
                            $('#recipes-container').append(html);
                        } else if (response.message) {
                            $('#recipes-container').append('<p>' + response.message + '</p>');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>

