<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Recipe Recommender Project</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/engine">Engine</a></li>
                <li><a href="/history">History of Food</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Welcome to our Recipe Recommender Project</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget libero vitae nisl ultrices rhoncus. Nullam sit amet mi in ligula maximus fermentum. Sed feugiat sapien vitae eros condimentum, vel pharetra purus eleifend.</p>
            <a href="/engine" class="button">Get Started</a>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Recipe Recommender Project</p>
        </div>
    </footer>
</body>
</html>

